fastapi[standard]
pydantic
python-dotenv
motor
google-genai
python-jose[cryptography]
python-multipart
pinecone-client
passlib[bcrypt]
numpy
pypdf
python-docx
beautifulsoup4
markdown
reportlab
sarvamai
sqlalchemy
psycopg2-binary
